.base {
  background-color: var(--slate1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  right: 0px;

  & > div {
    color: white;
    height: inherit;
    max-width: var(--size);
    min-width: var(--size);
  }
}

.left,
.right {
  --size: 320px;
  background-color: var(--slate1);
  border-left: 1px solid var(--slate6);
  border-right: 1px solid var(--slate6);
}

.center {
  --size: 100vw;
  background-color: var(--slate2);
}
